@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    text-align: center;
}

body {
    background-color: white;
    font-size: 25px;
}

.title {
    margin: 20px 0;
    font-size: 50px;
    color: #403F3C;
}

.intro {
    font-size: inherit;
    margin: 50px auto;
    border: invisible;
    width: 1000px;
    padding: 20px;
    background-color: #403F3C;
    color: white;
}

.score-area {
    width: 400px;
    margin: 60px auto;
    padding: 20px;
}

#your-score {
    position: relative;
    right: 48%;
    border: invisible;
    border-radius: 5px;
    background-color: #403F3C;
    color: white;
    padding: 5px;
}

#comp-score {
    position: relative;
    left: 65%;
    border: invisible;
    border-radius: 5px;
    background-color: #403F3C;
    color: white;
    padding: 5px;
}

#score-tally {
    border: invisible;
    background-color: #d0312d;
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 35px;
}

.choices {
    border: 5px solid #403F3C;
    border-radius: 50%;
    padding: 20px;
    background: none;
    margin: 0 30px
}

.images {
    height: 120px;
    width: 120px;
}
