@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    text-align: center;
}

body {
    background-color: white;
    font-size: 25px;
}

button {
    background: none;
    border: none; 
} 

.title {
    margin: 20px 0;
    font-size: 50px;
    color: #403F3C;
}

.intro {
    text-transform: capitalize;
    font-size: inherit;
    margin: 50px auto;
    width: 800px;
    padding: 20px;
    background-color: #ededed;
    color: #403F3C;
}

/* Score area styling */
.score-area {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
}

#your-score {
    position: relative;
    right: 48%;
    border-radius: 5px;
    background-color: #403F3C;
    color: white;
    padding: 5px;
}

#comp-score {
    position: relative;
    left: 65%;
    border-radius: 5px;
    background-color: #403F3C;
    color: white;
    padding: 5px;
}

#score-tally {
    background-color: #d0312d;
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 35px;
}

/* Game area styling */
.game-area {
    background-color: #ededed;
    padding: 20px;
    width: 800px;
    margin: 0 auto;
}

.choices {
    border: 5px solid #403F3C;
    border-radius: 50%;
    padding: 20px;
    background: none;
    margin: 0 30px;
    cursor: pointer;
    background-color: white;
}

.choices:hover {
    border: 5px solid #d0312d;
    transition: all 0.3s ease;
}

.images {
    height: 120px;
    width: 120px;
}

#reset-button {
    margin-top: 60px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #403F3C;
    color: white;
    padding: 5px;
    cursor: pointer;
}

#reset-button:hover {
    background-color: #d0312d;
    transition: 0.3s ease;
}

.green-text {
    color: #32CD32;
}

.red-text {
    color: #ff0000;
}

/* Media queries */
/* For medium screen sizes 1100px max width */
@media screen and (max-width: 1100px) {

.intro {
    width: 100%;
}

.game-area {
    width: 100%;
}
}

/* For small screen sizes 700px max width */
@media screen and (max-width: 700px) {

    #your-score {
        position: absolute;
        right: 70%;
    }

    #comp-score {
        position: absolute;
    }

    #score-tally {
        position: absolute;
        top: 42%;
        left: 34%;

    }
    
    .game-area {
        width: 75%;
        margin-top: 100px;
    }
}

/* For small mobile screen sizes 380px max-width */
@media screen and (max-width: 380px) {
    
#score-tally {
        top: 55%;
        left: 33%;
    }
}





